<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article</title>
</head>
<body>
    <h1>article template</h1>
    <p>this is article template page</p>
    <hr>
    <div class="articles">
        {% for article in articles %} <!-- python code -->
        <div class="article">
            <h2><a href="#"> {{ article.title }} <!-- out put data --> </a></h2>
            <p> {{ article.body }} </p>
            <p> {{ article.date }} </p>
        </div>
        {% endfor %}
    </div>
</body>
</html>